<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9Tt1Uy9NDjQHDsIbKOjpoDKoysx68NeI</string>
	<key>GCM_SENDER_ID</key>
	<string>483669063544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moduMessanger</string>
	<key>PROJECT_ID</key>
	<string>wechat-703d0</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-703d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483669063544:ios:681cc0bf287f34ff5c7a8d</string>
</dict>
</plist>