<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483669063544-6kp24imn43qsv5i9i3s34da74s5jct8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483669063544-6kp24imn43qsv5i9i3s34da74s5jct8e</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Tt1Uy9NDjQHDsIbKOjpoDKoysx68NeI</string>
	<key>GCM_SENDER_ID</key>
	<string>483669063544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moduMessengerFirebase</string>
	<key>PROJECT_ID</key>
	<string>wechat-703d0</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-703d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483669063544:ios:f55c551778f0f5ee5c7a8d</string>
</dict>
</plist>